
@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <ul>
            <li>
                @ViewBag.a
            </li>
            <li>
                @ViewBag.b
            </li>

            <li>
                @ViewBag.c
            </li>
            <li>
                @ViewBag.d
            </li>
            <li>
                @ViewBag.e
            </li>
        </ul>


    </div>
</body>
</html>
