
@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>

        <ul>
            <li>
                @ViewBag.a
            </li>
            <li>
                @ViewBag.b
            </li>

            <li>
                @ViewBag.c
            </li>
            <li>
                @ViewBag.d
            </li>
            <li>
                @ViewBag.e
            </li>
        </ul>

    </div>
    <div>

        <ul>
            <li>
                @ViewBag.f
            </li>

        </ul>
        <ul>
            <li>
                @ViewBag.g
            </li>

        </ul>
        <ul>
            <li>
                @ViewBag.h
            </li>

        </ul>

    </div>
</body>
</html>
